# Data Science tools and Ecosystem

**Objectives:**
. Popular languages for Data Scientists
. commonly used libraries used by Data Scientists
. Data Science Tools

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages Data Scientists use are:
1. Python
2. R
3. Julia
4. MatLab

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. TensorFlow
4. Pandas
5. Matplotlib

|Data Science Tools|
--------------------
  Jupyter Notebook
  RStudio
  Spyder

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author ##
Chrisnel DESIR